/* @import './base.css'; */
@import "tailwindcss";

@theme {
  --color-steel: #4F565E;
  --color-charcoal: #2B2B2B;
  --color-obsidian: #22262A;
  --color-editor: #1E1E1E;
  --color-statusbar: #007ACC;
  --color-slate: #393F46;
  --color-active-tab: #303841;
  --color-carbon: #22262A;


  --color-primary: #3C78B4;
  --color-secondary: #4F565E;
  

  --color-graphite: #303841;
  --color-content: #353C45;


   
   
   /* --color-text-skill: #F9AE56; */

/* 
  --color-background
  --color-surface
  --color-surface-hover
  --color-border

  --color-primary
  --color-primary-hover

  --color-text
  --color-text-muted */

  /* Syntax highlighting */
  /* --color-text-tag
  --color-text-attribute
  --color-text-string */
  --color-rosewood: #8E4C54;
  --color-orchid: #C595C6;
  --color-sage: #99C794;
  --color-keyword: #F9AE56;
   
  
  
  
  
}

body {
  font-family: "JetBrains Mono", monospace;
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
